/* seems like each spirte is 70px wide and 80px high */
.character{
	width: 70px;
	height:80px;
	display:inline-block;
	position:absolute;
	top:140px;
	left:100px;
}
#field{
	background-image: url(../images/animated-gifs-of-fighting-game-backgrounds-26.gif);
	width:621px;
	height:224px;
	position:relative;
}
h1{
	font-size:16px;
}
body{
	font-size:12px;
}
h2{
	font-size:14px;
}
 #Lista{
	background-color: red;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
 }